.userMenuWrapper {
  display: flex;
}
.text {
  font-size: 20px;
  color: #fff;
  margin-right: 20px;
}

.button {
  background-color: #c1f7c1;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.button:hover,
.button:focus {
  background-color: #0b2a38;
  color: #ffffff;
}
